<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Your Product</title>
</head>
<body>
    <h1>EDIT YOUR PRODUCT</h1>
    <form action="/allproducts/<%= foundproduct._id %>?_method=PUT" method="POST">
        <label for="name">Product Name</label>
        <input type="text" placeholder="product name" name="name" value="<%=foundproduct.name %>">
        <label for="price">Price</label>
        <input type="number" placeholder="product price" name="price" value="<%= foundproduct.price %>">
        <label for="category">Choose Category</label>
        <select name="category" id="">
            <option value="fruit">fruit</option>
            <option value="vegetable">vegetable</option>
            <option value="diary">diary</option>
        </select>
        <button>submit</button>
    </form>

</body>
</html>